<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Eventos</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <header>
        <div class="header-left">
            <a href="index.html">
                <h1>Event Flex</h1>
            </a>
            <nav>
                <a href="gestion-eventos.html">Gestor de Eventos</a>
                <a href="visualizacion-eventos.html">Buscador de Eventos</a>
            </nav>
        </div>
        <div class="header-buttons">
            <a href="login.html" class="button">Login</a>
            <a href="registro.html" class="button">Registro</a>
        </div>
    </header>
    <main>
        <section class="inicio-presentacion">
            <h2>Bienvenido a Event Flex</h2>
            <p>Optimiza la organización y gestión de tus eventos con nuestra plataforma. <br> <br> Regístrate hoy mismo
                y descubre cómo nuestras herramientas pueden hacer tu trabajo más fácil y eficiente.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Gestión de Eventos. Todos los derechos reservados.</p>
    </footer>
</body>

</html>